body {
    text-align: center;
    padding: 10%;
    background-color: rgba(0, 200, 0, 1);
}

li {
    list-style: none;
    text-align: left;
    font-size: 14px;
}

input {
    margin: 3px;
}

#myHeader {
    font-size: 26px;
    font-weight: bold;
}

strong {
    font-weight: bold;
    color: gold;
    font-size: 16px;
}

em {
    font-weight: bold;
    color: red;
    font-size: 16px;
}

b {
    font-weight: bold;
    color: gold;
}

#mainMovieList{
    margin: 0 auto 0 auto;
    width: 400px;
    /*border: 5px ridge gold;*/
}

button {
    margin: 1% 2% 1% 2%;
   
}

/* use css animation for button background color changes */
#btnAdd {
    animation-name: redAlert;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}



#btnShow {
    animation-name: purpleAlert;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}



/* standard animation tag*/
@keyframes redAlert {
    /* cycle from green to red and back continuously*/
    0% {
        background-color: rgbA(0, 200, 0, 1);
    }

    50% {
        background-color: rgbA(255, 0, 0, 1);
    }

    100% {
        background-color: rgbA(0, 200, 0, 1);
    }
}
/* end of redAlert animation */


/* Safari 4.0 - 8.0 */
@-webkit-keyframes redAlert {
    /* cycle from green to red and back continuously*/
    0% {
        background-color: rgbA(0, 200, 0, 1);
    }

    50% {
        background-color: rgbA(255, 0, 0, 1);
    }

    100% {
        background-color: rgbA(0, 200, 0, 1);
    }
}
/*end webkit version*/


/* standard animation tag*/
@keyframes purpleAlert {
    /* cycle from green to blue and back continuously*/
    0% {
        background-color: rgbA(0, 200, 0, 1);
    }

    50% {
        background-color: rgbA(200, 0, 255, 1);
    }

    100% {
        background-color: rgbA(0, 200, 0, 1);
    }
}
/* end of blueAlert animation */


/* Safari 4.0 - 8.0 */
@-webkit-keyframes purpleAlert {
    /* cycle from green to blue and back continuously*/
    0% {
        background-color: rgbA(0, 200, 0, 1);
    }

    50% {
        background-color: rgbA(200, 0, 255, 1);
    }

    100% {
        background-color: rgbA(0, 200, 0, 1);
    }
}
/*end webkit version*/