doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
      ul
        li
          a(href='/') Welcome
        li
          a(href='/userlist/') User List
        li
          a(href='/newuser/') Add New User
        li
          a(href='/userbyname/') Get user details
        li
          a(href='/admin/') admin path 
        li
          a(href='/admin/gettime/') Get Time
        li
          a(href='/echo/dog') echo 
    block content